<div class="content" role="main">
  <h2 *ngIf="currentPageId == 1">Text Adventure Game</h2>

  <ng-container *ngFor="let page of pages">
    <app-page id="page-{{currentPageId}}"
              *ngIf="page.id == currentPageId"
              (onChoiceClickEvent)="updateCurrentPageId($event)"
              [enableChoices]="!isGameOver"
              [page]="page">
    </app-page>
  </ng-container>

  <div class="game-over" *ngIf="isGameOver">
    <h2>GAME OVER!</h2>
    <a class="card" rel="noopener" href="#" (click)="reset()">
      <span>Start forfra</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>

</div>
